# Sect 11: Combinatorics & Probability

Study Group for: online-ds-ft-120919

01/21/20

- James M. Irving, Ph.D.

    - james.irving@flatironschool.com

    - https://www.linkedin.com/in/james-irving-4246b571/

## Learning Objectives

- Understand what sets are and set operations.
- Understand what probability is and how it is calculated.
- Understand factorials, permutations, and combinations. 

- Recognize when to use which equation for permutations/combinations.
- Walk through an extended example using the playlist for a dinner party as our Sample space.

### Links/References:
- Note: Your section 11 = curriculum v2.0's section 17.
- Study Groups from other Instructors
    - [Reviewing Probability & Combinatorics - M3S17 [2019-07-16]](https://www.youtube.com/watch?v=UBWnkflWvmU&list=PLVoXE6pv5LIgIui2D6u0Nga3oHtQ2ogmY&index=2) - Victor
    - [Permutations & Factorials](https://youtu.be/-tzUcmASgC8) - Jeff
    - [Permutations/Combinations](https://www.youtube.com/watch?v=WMYnIe2f7to&feature=youtu.be) - Rafael

### Any questions to address?
-

# Sets


> A **Set**: *a well-defined collection of unique objects*.

**Math notation:**
- Define a set as $S$ 
- If $x$ is an element of set $S$:
    - $x \in S$.
- If $x$ is not an element of set $S$:
    - $x\notin S$.
        
### Subset: 
> A **Subset**: set $T$ is a subset of set $S$ if *every element* in set $T$ is also in set $S$. 

**Math Notation**
- $T$ is a subset of $S$.   
    - $T \subset S$

- $T$ and $S$ can be the SAME population 
- If $T$ != $S$, but $T \subset S$, called a 'proper subset'
    - Can use notation:  $T \subsetneq S$ and $T \subseteq S$ 

### Universal set:
> A **Universal Set**: The collection of all possible outcomes in a certain context or universe.

**Math Notation**
- Universal set denoted by Omega ($\Omega$)
- Can have infinite # of elements (e.g. the set of all real numbers!)
- Example: all possible outcomes of a 6-sided die:
    - $\Omega = \{1,2,3,4,5,6\}$

## Set operations:

- Data used in examples:

Imagine you have two sets of numbers, say the first 4 multiples of 3 in set $S$:

$ S = \{3,6,9,12\}$

 and the first 4 multiples of 2 in set $T$:
 
$ T = \{2,4,6,8\} $.

#### Union (combining elements)

- the union of $S$ and $T$ is denoted as $S \cup T$
<img src="https://raw.githubusercontent.com/jirvingphd/dsc-intro-to-sets-online-ds-ft-100719/master/images/new_union.png" width=200>

#### Intersection

- contains all elements of $S$ that also belong to $T$. 
    - denoted as $S \cap T$.

<img src="https://raw.githubusercontent.com/jirvingphd/dsc-intro-to-sets-online-ds-ft-100719/master/images/new_intersection.png" width=200>

#### Relative complement / difference

<img src="https://raw.githubusercontent.com/jirvingphd/dsc-intro-to-sets-online-ds-ft-100719/master/images/new_rel_comp.png" width=200>

-  the relative complement of S contains all the elements of T that are NOT in S.
    - relative complement of S (or $ T\backslash S $) is $\{2,4,8\}$.
    - relative complement  of T (or $ S\backslash T $) is $\{3,9,12\}$.
    
<!img src="https://raw.githubusercontent.com/learn-co-students/dsc-1-08-07-introduction-to-sets-online-ds-ft-021119/master/rel_comp.png" width=300>

#### Absolute complement

<img src="https://raw.githubusercontent.com/jirvingphd/dsc-intro-to-sets-online-ds-ft-100719/master/images/new_abs_comp.png" width=200>


- The absolute complement of $S$, with respect to the Universal set $\Omega$, is the collection of the objects in $\Omega$ that don't belong to $S$.
    -  absolute complement of $S$ is denoted as $S'$ or $S^c$.
    
<!img src="https://raw.githubusercontent.com/learn-co-students/dsc-1-08-07-introduction-to-sets-online-ds-ft-021119/master/abs_comp.png" width=300>

- Example: Let's define $\Omega$ (box around the two venn diagrams) = multiples of both 2 and 3 until 20.

    - Elements of $\Omega$ are $\{2,3,4,6,8,9,10,12,14,15,16,18,20\}$. 

    - The absolute complement of $S$ (so $S'$ or $S^c$) is then given by $\{2,4,8,10,14,15,16,18,20\}$.

#### Note on Important Number Sets & Their Notation

- If you define that the event "low daily number of text messages sent" means 20 or fewer text messages, the event space is defined as: $E = \{x \mid x \in \mathbb{Z}, 0 \leq x \leq 20 \}$
- Binge-watch day:  $E = \{x \mid x \in \mathbb{R}, x \geq 6 \}$

| SYMBOL | MEANING |
| --- | --- |
|$\emptyset$ or $\{\}$ | empty set 
|$ \mathbb{N}$ | natural numbers |
|$\mathbb{Z}$ | integers (from Zahl, German for number). |
|$ \mathbb{Q}$ | rational numbers (from quotient) |
|$\mathbb{R}$  | real numbers |
|$ \mathbb{C}$ | complex numbers |

### Inclusion Exclusion principle

- Used to calculate the number of elements of each set and the union of all sets.

- **Note $|S|$ denotes the *cardinality* of S aka the number of element in S** (number of elements/features)

<img src="https://raw.githubusercontent.com/jirvingphd/dsc-intro-to-sets-online-ds-ft-100719/master/images/new_venn_diagram.png" width=400>


- When combining  2 sets, the method for obtaining the union of two finite sets is given by:

    - $\mid S \cup T \mid = \mid S \mid + \mid T \mid - \mid S \cap T \mid $
    
        - Horizontal lines denote the *cardinality* of a set, which is the number of elements, considering a finite set. 
- When combining 3 sets:

$\mid S \cup T\cup R \mid = \mid S \mid + \mid T \mid + \mid R \mid - \mid S \cap T \mid  -\mid S \cap R \mid - \mid R \cap T \mid  + \mid S \cap T \cap R \mid $
        
        
- *The formula expresses the fact that the sum of the sizes of the two sets may be too large since some elements may be counted twice. For the double-counted elements, one is substracted again.*

### Empty 
 - An **empty** set has no elements
 - denoted by $\emptyset$ or simply $\{\}$

### SET OPERATIONS IN PYTHON

 

| Method        |	Equivalent |	Result |
| ------                    | ------       | ------    |
| s.issubset(t)             |	s <= t     | test whether every element in s is in t
| s.issuperset(t)           |	s >= t     | test whether every element in t is in s
| s.union(t)                |	s $\mid$ t | new set with elements from both s and t
| s.intersection(t)         |	s & t      | new set with elements common to s and t
| s.difference(t)           |	s - t 	   | new set with elements in s but not in t
| s.symmetric_difference(t) |	s ^ t      | new set with elements in either s or t but not both

# Permutations and Factorials:

## Permutations

- **Permutations have to do with arranging objects.(Order is important)**

> ***How many ways to arrange n elements?***
    $$\large P(n) = n!$$

### Factorials

The factorial of $n$ is calculated by multiplying every number below $n$ together.

$$n! = n  \times (n-1) \times (n-2)\times...\times1$$

```python
from math import factorial
```

**Factorial Rules/Operations:**
- Negative numbers do not have a factorial.
- $0! = 1$
- $n! = (n-1)! \cdot n$
- $(n+1)! = n! \cdot (n+1)$ 

- $ (n+k)! = n! \cdot (n+1) \cdot (n+2) \cdot... (n+k) $

- $ (n-k)! = \frac{n!}{(n-k+1)\cdot(n-k+2) \cdot ... (n-k+k) }$
- When $n>k$:
    - $\frac{n!}{k!} = (k+1)\cdot(k+2)\cdot...n $

## Permutations of a subset / AKA Permutations without replacement

> ***How many ways to select $k$ elements out of a pool of $n$ objects?***

$$ \large P_{k}^{n}= \dfrac{n!}{(n-k)!}$$ 

this is known as the **$k$-permutation of $n$**

## Permutations with replacement

$$ \large {P}_{j}^{n} = n^j $$
- where $n$ = total number of elements
- $j$ = number of positions to fill

## Permutations with repetition

- Permutation where there are some elements that may appear multiple times. 
    - i.e. looking at the word TENNESSEE by itself, you can swap the 3rd and the 4th letter and have the same word. So the total number is less than $9!$.
    
    - The solution is to divide $9!$ by the factorials for each letter that is repeated!
    - The answer here is then (9 letters, 4 x E, 2 x N, 2 x S)

    - $\dfrac{9!}{4!2!2!} = 3780$

The general formula can be written as:

$$\dfrac{n!}{n_1!n_2!\ldots n_j!}$$

where $n_j$ stands for identical objects of type $j$ (the distinct letters in our TENNESSEE example).

# Combinations

- How many ways can we create a subset $k$ out of $n$ objects, when order is not important? 


$$\large C_{k}^{n} = \displaystyle\binom{n}{k} = \dfrac{P_{k}^{n}}{k!}=\dfrac{ \dfrac{n!}{(n-k)!}}{k!} = \dfrac{n!}{(n-k)!k!}$$

# PLAYLIST PERMUTATIONS

In [1]:
!pip install -U fsds_100719

from math import factorial
from fsds_100719.imports import *

fsds_1007219  v0.6.6 loaded.  Read the docs: https://fsds.readthedocs.io/en/latest/

## Playlist Permutations

- We are constructing a dinner party playlist for a gathering we are planning. 
- We asked our attendees to each provide a handful of songs they would like to be played at the dinner party.

In [11]:
john_recs = [['artist','track']]
john_recs.append(['Black Eyed Peas',"Let's Get it Started"])
john_recs.append(['Lady GaGa','Poker Face'])
john_recs.append(['Lady GaGa','Bad Romance'])
john_recs.append(['Lady GaGa','Just Dance'])

df_john_recs = pd.DataFrame(john_recs[1:],columns=john_recs[0])
df_john_recs['Recommended By'] = 'John'
df_john_recs.style.set_caption('JOHN')

In [12]:
anne_recs = [['artist','track']]
anne_recs.append(['Smashing Pumpkins','Tonight, Tonight'])
anne_recs.append(['Black Eyed Peas',"Let's Get it Started"])
anne_recs.append(['Green Day','Time of your Life'])

df_anne_recs = pd.DataFrame(anne_recs[1:],columns=anne_recs[0])
df_anne_recs['Recommended By'] = 'Anne'
df_anne_recs.style.set_caption('ANNE')

In [13]:
joe_recs= [['artist','track']]
joe_recs.append(['Green Day','Time of your Life'])
joe_recs.append(['B-52s','Rock Lobster'])
joe_recs.append(['Lady GaGa','Poker Face'])
joe_recs.append(['John Lennon','Imagine'])

df_joe_recs = pd.DataFrame(joe_recs[1:],columns=joe_recs[0])
df_joe_recs['Recommended By'] = 'Joe'
df_joe_recs.style.set_caption('JOE')

In [14]:
samantha_recs = [['artist','track']]
samantha_recs.append(['Black Eyed Peas',"Let's Get it Started"])
samantha_recs.append(['Panic at the Disco','Hallelujah'])
samantha_recs.append(['Adele','Set Fire to the Rain'])

df_samantha_recs = pd.DataFrame(samantha_recs[1:],columns=samantha_recs[0])
df_samantha_recs['Recommended By'] = 'Samantha'
df_samantha_recs.style.set_caption('SAMANTHA')

In [15]:
james_recs=[['artist','track']]
james_recs.append(['Eve 6',"Here's to the Night"])
james_recs.append(['Neutral Milk Hotel',"Into the Aeroplane Over the Sea"])
james_recs.append(['Rilo Kiley',"With Arms Outstretched"])
james_recs.append(['Red Hot Chili Peppers',"Otherside"])

df_james_recs = pd.DataFrame(james_recs[1:],columns=james_recs[0])
df_james_recs['Recommended By'] = 'James'
df_james_recs.style.set_caption('JAMES')

In [16]:
df = pd.concat([df_john_recs,df_anne_recs,
                df_joe_recs,df_samantha_recs,
               df_james_recs],axis=0)
df

                  artist                            track Recommended By
0        Black Eyed Peas             Let's Get it Started           John
1              Lady GaGa                       Poker Face           John
2              Lady GaGa                      Bad Romance           John
3              Lady GaGa                       Just Dance           John
0      Smashing Pumpkins                 Tonight, Tonight           Anne
1        Black Eyed Peas             Let's Get it Started           Anne
2              Green Day                Time of your Life           Anne
0              Green Day                Time of your Life            Joe
1                  B-52s                     Rock Lobster            Joe
2              Lady GaGa                       Poker Face            Joe
3            John Lennon                          Imagine            Joe
0        Black Eyed Peas             Let's Get it Started       Samantha
1     Panic at the Disco                       Hallelujah       Samantha
2                  Adele             Set Fire to the Rain       Samantha
0                  Eve 6              Here's to the Night          James
1     Neutral Milk Hotel  Into the Aeroplane Over the Sea          James
2             Rilo Kiley           With Arms Outstretched          James
3  Red Hot Chili Peppers                        Otherside          James

In [17]:
## Making Sample Spaces for Tracks and artists
sTracks = set(df['track'])
sArtists = set(df['artist'])

print(len(sTracks),len(sArtists))
sTracks#,sArtists

14 12

{'Bad Romance',
 'Hallelujah',
 "Here's to the Night",
 'Imagine',
 'Into the Aeroplane Over the Sea',
 'Just Dance',
 "Let's Get it Started",
 'Otherside',
 'Poker Face',
 'Rock Lobster',
 'Set Fire to the Rain',
 'Time of your Life',
 'Tonight, Tonight',
 'With Arms Outstretched'}

### Q1: How many different ways could we build a playlist using everyone's unique recommendations (without shuffle, no looping)?

- Q: Combination or permutation?
    -  Permutation

- Q: What formula would we use?
 $$\large P(n) = n!$$

In [18]:
from math import factorial

ans = factorial(14)
"{:,}".format(ans)

'87,178,291,200'

### Q2: What if we limit the playlist to only 10 songs, without replacement?

- Q: Combination or permutation?
    - Permutation

- Q: What formula would we use?

$$ \large P_{k}^{n}= \dfrac{n!}{(n-k)!}$$

In [20]:

ans = factorial(14) / factorial(14-12)
"{:,}".format(ans)

'43,589,145,600.0'

### Q3: what if we limit the playlist to 10 songs, WITH replacement?

- Q: Combination or permutation?
    - Permutation

- Q: What formula would we use?

$$ \large {P}_{j}^{n} = n^j $$

In [21]:


ans = 14**10
"{:,}".format(ans)

'289,254,654,976'

### Q4: what if we select 10 songs out of the total number of suggestions and allow for repetition?

In [22]:
print(df['track'].value_counts().sum())
df['track'].value_counts()

18

Let's Get it Started               3
Poker Face                         2
Time of your Life                  2
With Arms Outstretched             1
Here's to the Night                1
Into the Aeroplane Over the Sea    1
Rock Lobster                       1
Tonight, Tonight                   1
Set Fire to the Rain               1
Bad Romance                        1
Hallelujah                         1
Just Dance                         1
Otherside                          1
Imagine                            1
Name: track, dtype: int64

- Q: Combination or permutation?
    - permutations

- Q: What formula would we use?
$$\dfrac{n!}{n_1!n_2!\ldots n_j!}$$

In [23]:


ans = factorial(18)/ (factorial(3)*factorial(2)*factorial(2))
"{:,}".format(ans)

'266,765,571,072,000.0'

## We realize we need to relax and not worry about the song-order. That's what Shuffle is for, right?

### Q5: How many playlists can we produce for an 8-track playlist from the unique suggested songs (14))?

- Q: Combination or permutation?
    - combination

- Q: What formula would we use?

$$\large C_{k}^{n} = \displaystyle\binom{n}{k} = \dfrac{P_{k}^{n}}{k!}=\dfrac{ \dfrac{n!}{(n-k)!}}{k!} = \dfrac{n!}{(n-k)!k!}$$

In [24]:

ans = factorial(14) / (factorial(14-8)*factorial(8))
"{:,}".format(ans)

'3,003.0'

# Probability

## What is probability?

> **Probability is the likelihood of a specific outcome/event occuring out of all possible outcomes, expressed as a fraction between 0 and 1**

Example Probability Qs:
- How likely is it to end up with heads when flipping a coin once? (the answer here is 50% - not very surprising)

- How likely is it to end up with exactly 2 x heads and 3 x tails when flipping a coin 5 times?

### Sample Space & Event Space

##### Sample space:
$$S = \{ 1,2,3,4,5,6\}$$ 
being the possible outcomes when throwing a dice.
- Sample space =  $\Omega$ 

##### Event space:
-   The **event space** is a subset of the sample space. It is the **desired outcome** of the experiment.
$$E \subseteq S$$
-   Example:
    -   Throwing an odd number would lead to an event space $$E = \{ 1,3,5\}$$.

### Probability of an Event

$$ P(E) = \frac{|E|}{|S|} $$
probability is the number of possible preferred outcomes over the sample space / all outcomes

### Law of relative frequency

- Limit of large infinite outcomes produce fixed numbers .
$$ \large P(E) = \lim_{n\to\infty}\frac{S(n)}{n}$$
    - Probability of Event E having Successful(S) outcomes for $n$ trials

### Probability axioms

1.  Positivity : 

    - Prob is always $0 <= P(E) <=1$


2.  Probability of a certain event:

    - $P(S)=1$


3.  Additivity Union of 2 exclusive sets = sum prob of individual events happening
    
    - If $A\cap B = \emptyset $, then $P(A\cup B) = P(A) + P(B)$

### Addition law of probability

-   Prob of union of A and B is individual P minus intersection

$$ \large P(A\cup B) = P(A) + P(B) - P(A \cap B)$$

# Playlist Probabilities

**If we just accept everyone's suggestions (full df) and play on shuffle:**

- Q: What is the probability of hearing "Let's Get it started"?

In [28]:
print(df['track'].value_counts().sum())

df['track'].value_counts()

18

Let's Get it Started               3
Poker Face                         2
Time of your Life                  2
With Arms Outstretched             1
Here's to the Night                1
Into the Aeroplane Over the Sea    1
Rock Lobster                       1
Tonight, Tonight                   1
Set Fire to the Rain               1
Bad Romance                        1
Hallelujah                         1
Just Dance                         1
Otherside                          1
Imagine                            1
Name: track, dtype: int64


$$P(E) = |E| / |S|  $$

In [30]:
P_lets_get_it_started = 3 / 18
P_lets_get_it_started

0.16666666666666666

In [31]:
display(df['artist'].value_counts())
df['artist'].value_counts().sum()

Lady GaGa                4
Black Eyed Peas          3
Green Day                2
B-52s                    1
John Lennon              1
Panic at the Disco       1
Red Hot Chili Peppers    1
Rilo Kiley               1
Eve 6                    1
Neutral Milk Hotel       1
Adele                    1
Smashing Pumpkins        1
Name: artist, dtype: int64

18

- Q: What is the probability of playing a song by Lady GaGa?

In [32]:
p_lady_gaga = 4/ 18
p_lady_gaga

0.2222222222222222

## Conditional Probability

In [33]:
df['track'].value_counts()

Let's Get it Started               3
Poker Face                         2
Time of your Life                  2
With Arms Outstretched             1
Here's to the Night                1
Into the Aeroplane Over the Sea    1
Rock Lobster                       1
Tonight, Tonight                   1
Set Fire to the Rain               1
Bad Romance                        1
Hallelujah                         1
Just Dance                         1
Otherside                          1
Imagine                            1
Name: track, dtype: int64

In [34]:
display(df.groupby('artist')['track'].count())

artist
Adele                    1
B-52s                    1
Black Eyed Peas          3
Eve 6                    1
Green Day                2
John Lennon              1
Lady GaGa                4
Neutral Milk Hotel       1
Panic at the Disco       1
Red Hot Chili Peppers    1
Rilo Kiley               1
Smashing Pumpkins        1
Name: track, dtype: int64

- What is the probability of playing Poker Face given that its a Lady GaGa song?

$$ P(PokerFace|LadyGaga)$$

In [35]:
df.groupby('artist').get_group('Lady GaGa')['track'].value_counts()

Poker Face     2
Just Dance     1
Bad Romance    1
Name: track, dtype: int64

In [36]:
# |s|=
# |e| = 
2/4

0.5